body {
  margin: 20;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-container {
  font-size: large;
  text-transform: uppercase;
}

.ruby:hover {
  color: black;
}

.links {
  padding: 15px;
}

.projects {
  padding-top: 25px;
}

.cards {
  list-style-type: none;
  padding-bottom: 10px;
}

.project-title {
  font-size: 18px;
}