@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  font-family: 'Roboto', sans-serif;
  color: #808080;
}

.navbar-container {
  font-size: large;
  text-transform: uppercase;
}

.links {
  padding: 15px;
}

.skills {
  padding-top: 25px;
}

.cards {
  list-style-type: none;
  padding-bottom: 10px;
  color: #808080;
}

.project-title {
  font-size: 35px;

}

.skills-div {
  padding-top: 70px;
  padding-bottom: 70px;
}

.project-description {
  font-size: 18px;
  padding-bottom: 40px;
}


.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;    
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

